{
    margin:0px;
    padding:0px;
}
header
{
    
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(yours.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
      height: 120vh;

}

.topnav{
	overflow:hidden;
	background-color:#000;
	opacity:0.6;
	text-align:center;
	height:20vh;
	width:217vh;
	}
	.logo img
{
    margin: 0px;
    width: 150px;
    height: 70px;
    float: left;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.5;
  color:#ffff;
}
.movie{
        height: 10vh;
        margin-top: 0vh;
        margin-bottom:0vh;
        margin-right: 70vh;
        margin-left: 70vh;
        display: block;
        border-radius: 5px;
        padding: 1em;
        width: 76vh;
        box-shadow: 0px -10px 20px -5px #E2E2E2;
        text-align: center;
		color:solid white;
		 }
	
  .movie{
            margin-top: 0vh;
            margin-bottom: 0vh;
        }
}
    table,tr,td,th{
        border: 1px solid white;
        border-collapse: collapse;
		}
    td{
      padding: 10px;  
    }
